@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

@theme {
  --color-primary: #141414;
  --color-secondary: #333333;
  --color-tertiary: #222222;
  --color-yellow: #ffe006;
}

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
